Repository Xtremilicious/flowie, pull requests merged in 2020-07, with the labels that each got.

#5 Setup DRF app
  .gitignore
  backend/app/__init__.py
  backend/app/__pycache__/__init__.cpython-37.pyc
  backend/app/__pycache__/settings.cpython-37.pyc
  backend/app/__pycache__/urls.cpython-37.pyc
  backend/app/__pycache__/wsgi.cpython-37.pyc
  backend/app/asgi.py
  backend/app/settings.py
  backend/app/urls.py
  backend/app/wsgi.py
  backend/manage.py
  backend/requirements.txt
Labels: component/backend

#9 feat(app homepage) + adding dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/art.jpg
  frontend/public/assets/art.png
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/components/Dashboard/index.jsx
  frontend/src/components/Home/Content.jsx
  frontend/src/components/Home/Navbar.jsx
  frontend/src/components/Home/index.jsx
Labels: component/frontend, enhancement

#12 Setup core app
  backend/app/settings.py
  backend/core/__init__.py
  backend/core/admin.py
  backend/core/apps.py
  backend/core/management/__init__.py
  backend/core/management/commands/__init__.py
  backend/core/management/commands/template_startapp.py
  backend/core/management/commands/wait_for_db.py
  backend/core/migrations/__init__.py
  backend/core/models.py
  backend/core/tests/__init__.py
  backend/core/tests/test_commands.py
Labels: component/backend

#14 Add dockerized tests
  backend/Dockerfile
  backend/core/admin.py
  backend/core/models.py
  backend/docker-compose.test.yml
Labels: component/backend

#17 Add user model
  backend/app/settings.py
  backend/core/management/commands/wait_for_db.py
  backend/core/models.py
  backend/core/models_utils.py
  backend/core/tests/test_commands.py
  backend/core/tests/test_models.py
  backend/docker-compose.test.yml
  backend/flowie/__init__.py
  backend/flowie/apps.py
  backend/flowie/migrations/0001_initial.py
  backend/flowie/migrations/__init__.py
  backend/flowie/serializers.py
  backend/flowie/tests/__init__.py
  backend/flowie/urls.py
  backend/flowie/views.py
Labels: component/backend

#22 Track repo add route
  backend/Dockerfile
  backend/app/settings.py
  backend/app/urls.py
  backend/core/github_utils.py
  backend/flowie/serializers.py
  backend/flowie/tests/test_tracked_repository_api.py
  backend/flowie/urls.py
  backend/flowie/views.py
  backend/requirements.txt
Labels: component/backend

#21 feat(Flowie Timeline)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/cd-arrow.svg
  frontend/public/favicon.ico
  frontend/public/favicon.png
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/Dashboard/HorTimeline.jsx
  frontend/src/components/Dashboard/RepoData.jsx
  frontend/src/components/Dashboard/TimelineInfo.jsx
  frontend/src/components/Dashboard/cd-arrow.svg
  frontend/src/components/Dashboard/index.jsx
  frontend/src/components/Dashboard/modules/Commit.jsx
  frontend/src/components/Dashboard/modules/Issue.jsx
  frontend/src/components/Dashboard/modules/PR.jsx
  frontend/src/components/Home/Content.jsx
  frontend/src/components/Home/Navbar.jsx
  frontend/src/index.js
  frontend/src/redux/actions/dataActions.js
  frontend/src/redux/reducers/dataReducer.js
  frontend/src/redux/store.js
  frontend/src/redux/types.js
  frontend/src/utils/Components/EventLine.jsx
  frontend/src/utils/Components/Events.jsx
  frontend/src/utils/Components/EventsBar.jsx
  frontend/src/utils/Components/Faders.jsx
  frontend/src/utils/Components/HorizontalTimeline.jsx
  frontend/src/utils/Components/HorizontalTimelineButtons.jsx
  frontend/src/utils/Components/TimelineDot.jsx
  frontend/src/utils/Constants.js
  frontend/src/utils/helpers.js
  frontend/src/utils/helpers.test.js
Labels: component/frontend, enhancement

#32 add notes component added
  frontend/src/components/Dashboard/NotesFAB.jsx
  frontend/src/components/Dashboard/index.jsx
  frontend/src/redux/actions/dataActions.js
  frontend/src/redux/reducers/dataReducer.js
  frontend/src/redux/types.js
  frontend/yarn.lock
Labels: component/frontend

#31 Update README.md
  README.md
Labels: documentation
